<header id="header-wrap">
    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
        <div class="container">
            <a href="/" class="navbar-brand"><img src="assets/img/ray.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                    <li class="nav-item active">
                        <a class="nav-link" href="#hero-area">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="document.getElementById('pricing').scrollIntoView({behavior:'smooth'})">
                            Upload
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="hero-area" class="hero-area-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="contents">
                        <h2 class="head-title">WELCOME PULMONOLOGIST </h2>
                        <p>
                            A Web Application that Helps to Inspect and Classify X-RAY Chest Disease.
                        </p>
                        <div class="header-button">
                            <a rel="nofollow" onclick="document.getElementById('pricing').scrollIntoView({behavior:'smooth'})" class="btn btn-common">Upload a Sample of X-Ray Chest Image</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                    <div class="intro-img">
                        <img img class="img-fluid"  src="assets/img/chest-xray.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>